.d-flex {
  display: flex !important;
}

.justify-content-center {
  justify-content: center !important;
}

.align-items-center {
  align-items: center !important;
}

.h-100vh {
  height: 100vh !important;
}

.flex-column {
  flex-direction: column;
}
