/** COLORS **/
$dark: #121212;
$white: #fff;
$light: #c1c1c1;
$blue: #0d6efd;
$pink: #ff007a;

$dark-1: lighten($dark, 2);
$dark-2: lighten($dark, 4);
$dark-3: lighten($dark, 6);

/** THEME **/
$primary: $blue;
$secondary: $light;

$primary-text-color: $white;
$secondary-text-color: $secondary;

$body-color: $secondary-text-color;
$body-bg: $dark;

$layout-bg-1: $dark-1;
$layout-bg-2: $dark-2;
$layout-bg-3: $dark-3;

$border-color: $dark-3;
$border-radius: 1rem;

/** SPACERS **/
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * 0.25,
  2: $spacer * 0.5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);

/** LAYOUT **/
$layout-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
);
$layout-columns: 12;
$layout-gutter: map-get($spacers, 3);
$layout-column-gutter: $layout-gutter / 2;
$layout-row-gutter: $layout-gutter / 3;
$layout-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

/** FONT **/
$font-size-base: 0.6rem;
$h1-font-size: $font-size-base * 2.5;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.75;
$h4-font-size: $font-size-base * 1.5;
$h5-font-size: $font-size-base * 1.25;
$h6-font-size: $font-size-base;

/** COMPONENTS **/
$aside-row-gutter: $layout-column-gutter;

$card-background: $layout-bg-1;
$card-spacer: 2rem;
$card-spacer-x: $card-spacer;
$card-spacer-y: $card-spacer;
$card-title-spacer-y: $card-spacer / 1.5;
